<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
				"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.iot.butter.dao.TalkDao">
	<select id="getCount" parameterType="Talk" resultType="int">
		SELECT
		count(*) FROM talks
		WHERE user_id=#{userId} and with_talk = #{withTalk}
	</select>

	<select id="selectOne" parameterType="int" resultType="Talk">
		SELECT *
		FROM talks
		WHERE talk_id=#{talkId}
	</select>

	<select id="selectList" parameterType="Talk" resultType="Talk">
		SELECT *
		FROM talks
		WHERE user_id=#{userId} AND
		with_talk=#{withTalk}
		ORDER BY talk_id
	</select>
	
	
	<select id="selectOneListPerUser" parameterType="String" 
				resultType="Talk">
		SELECT * FROM talks
		WHERE user_id =#{userId} and received = 1  
			and talk_id IN (
				SELECT max(talk_id) FROM talks 
				WHERE user_id =#{userId} and received = 1 
				GROUP BY with_talk)
		ORDER BY reg_date DESC
	</select>



	<select id="getNewTalks" parameterType="String" resultType="Talk">
		SELECT * FROM talks
		WHERE checked = 0 AND user_id = #{userId}
		ORDER BY talk_id DESC
	</select>

	<insert id="insert" parameterType="Talk">
		insert into talks (
		TALK_ID, USER_ID, WITH_TALK, RECEIVED, CHECKED, MESSAGE, REG_DATE)
		values(TALKS_SEQ.NEXTVAL,
		#{userId}, #{withTalk}, #{received}, #{checked}, #{message},sysdate)
	</insert>

	<update id="updateCheck" parameterType="Talk"><![CDATA[
		update talks set 
			checked = 1
		where user_id = #{userId} and with_talk = #{withTalk} 
				and checked=0
	]]></update>
	

	<delete id="delete" parameterType="int">
		DELETE FROM talks
		WHERE
		talk_id=#{talkId}
	</delete>
</mapper>
	
	
